@using Application.Models
@page "/products"
@attribute [StreamRendering]

<PageTitle>Products</PageTitle>

@if (products == null)
{
    <p>
        <em>Loading.......</em>
    </p>   
}
else{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th>NomPhoto</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in products)
        {
            <tr>
                <td>@product.IdProduit</td>
                <td>@product.NomProduit</td>
                <td>@product.Description</td>
                <td>@product.NomPhoto</td>
            </tr>
        }
        </tbody>
    </table>
}

@code{

    private List<Product>? products;
    
    //products = await Http.GetFromJsonAsync<Product>();


}