@page "/typeproduit/{Id:int}"
@using  Application.Models
@using Application.Services


<PageTitle>Product Type Detail</PageTitle>


<h3>Detail of product type</h3>





@code {
    [Parameter]
    public int Id { get; set; }
}

